/* Template Part */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&family=Merriweather&family=Montserrat:wght@300;400;500;600;700&display=swap");

/* font-family: 'JetBrains Mono';
font-family: 'Merriweather';
font-family: 'Montserrat'; */

* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

::selection{
	color: #000;
	background-color: #d3b531;
}

body {
  background-image: url("https://i.imgur.com/0U9Tpfm.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#glass {
  width: 95%;
  height: 700px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Import of Nvbar CSS */
.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  border-radius: 99em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center left;
  transition: width 0.2s ease-in;
  text-decoration: none;
  color: inherit;
  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 99em;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    background-color: #eee;
  }

  &:hover,
  &:focus {
    outline: 0;
    width: 9vw;
    height: 36px;

    &:before,
    .link-title {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.link-icon {
  margin-top: -14px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  left: -10px;
  position: absolute;
}

.link-title {
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  transform-origin: center right;
  display: block;
  text-align: center;
  text-indent: 28px;
  width: 100%;
  font-family: "Montserrat";
  font-weight: 600;
}	

#activated {
  filter: invert(1);
}

#activated:hover {
  filter: invert(0);
}
/* End of Template Part */

#home-body {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 50%;
  text-align: center;
  text-shadow: 2px 2px 25px #fff;

}

h1 {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 44px;
}

