@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&family=Merriweather&family=Montserrat:wght@300;400;500;600;700&display=swap");

/* font-family: 'JetBrains Mono';
font-family: 'Merriweather';
font-family: 'Montserrat'; */

* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://i.imgur.com/0U9Tpfm.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#glass {
  width: 90vw;
  height: 90vh;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

#navbar {
  margin: 0;
  width: 100vw;
  height: 7vh;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
